<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
	<preference for="Gama\Resellers\Api\ResellerRepositoryInterface" type="Gama\Resellers\Model\ResellerRepository"/>
	<preference for="Gama\Resellers\Api\Data\ResellerInterface" type="Gama\Resellers\Model\Data\Reseller"/>
	<preference for="Gama\Resellers\Api\Data\ResellerSearchResultsInterface" type="Magento\Framework\Api\SearchResults"/>
</config>
